/* reset */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: sans-serif;

    overflow-y: hidden;
}
.flex{
    display: flex;

    background-color: #151922;
}
.flex-c{
    display: flex;
    align-items: center;
    gap: 10px;
}

/* side bar */
.side-bar{
    width: 230px;
    height: calc(100vh - 90px);
    padding: 0 20px;


    background-color: #000000;
    overflow: auto;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
}


.side-top{
    margin-bottom: 10px;
    
    display: flex;
    flex-direction: column;   
}
.logo img.big{
    margin: 20px 0;
    max-width: 130px;
}
.logo .small{
    display: none;
}
.side-menu{
    color: white;
    opacity: 0.6;
}
.side-menu > *{
    margin-bottom: 12px;
}
.library{
    margin-bottom: 28px;
}
.side-menu img{
    width: 24px;
}
.side-menu a{
    font-size: 10px;
    font-weight: bold;

    text-decoration: none;
    color: white;
}
.side-playlist{
    margin-bottom: 14px;

    color: white;
    font-size: 10px;
    font-weight: bold;
}
.create{
    color: white;
}
.create a, .new-name a{
    text-decoration: none;
    color: white;
}
.top-container li{
    margin-bottom: 22px;

    font-weight: bold;
    font-size: 10px;
    opacity: 0.6;
    list-style-type: none;
}
.create .fa-solid{
    font-size: 30px;
}
.install{
    padding-bottom: 12px;
    border-bottom: 1px solid white;

    margin-bottom: 12px;

    color: white;
    opacity: 0.6;
}
.install img{
    width: 14px;
}
.install span{
    font-size: 10px;
    font-weight: bold;
}
.profile{
    padding-bottom: 8px;
}
.profile img{
    width: 28px;
    height: 28px;
    object-fit: cover;
    object-position: top;
    background-color: #828282;
    border-radius: 50%;
}
.profile-name{
    color: white;
    font-weight: bold;
    font-size: 10px;
}

/* pagina completa */
.page{
    flex-grow: 1;
    
    width: calc(100% - 230px);
    height: calc(100vh - 90px);

    overflow-y: auto;
}

/* upgrade bar */
.upgrade-bar{
    width: calc(100% - 230px);
    height: 90px;

    position: fixed;
    top: 0;
    right: 0;

    background-color: rgba(0, 0, 0, 0.2);
}
.upgrade-btn{
    position: absolute;
    top: 32px;
    right: 34px;
}
.upgrade-btn a{
    padding: 14px 40px;
    text-decoration: none;

    color: white;
    border: 1px solid white;
    border-radius: 50px;
}

/* song container */
.song-container{
    height: 100%;
    width: 100%;
    /* test */
    padding: 90px 18px 0px;
}

/* links */
.navbar{
    padding: 16px 40px 32px;
}
.navlinks{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 16px;

    text-transform: uppercase;
}
.navlinks a {
    text-decoration: none;
    color: white;
    opacity: 0.6;
}

/* categories */
.container-playlist{
    padding-bottom: 40px;

    display: flex;
    flex-wrap: wrap;
    gap: 14px;
}
.categories-name{
    margin-bottom: 28px;

    color: #fbfdfd;
}
.categories-name .sub-name{
    padding-top: 12px;

    color: #797e84;
}

/* playlist */
.playlist{
    width: calc(100% / 6 - 100px / 6);

    display: flex;
    flex-direction: column;
    align-items: center;
}
.playlist:last-of-type{
    margin-right: 28px;
}
.img-container{
    min-width: 180px;
}
.img-container img{
    width: 100%;
    object-fit: cover;
}
.img-container img.artist{
    border-radius: 50%;
}
.playlist-name{
    margin: 20px 0 14px;

    font-weight: bold;
    font-size: 1.1em;
    text-align: center;
    color: white;
}
.playlist-subtitle{
    color: #71767c;
    text-align: center;
}



/* playbar */
#play-bar{
    width: 100%;
    height: 90px;
    z-index: 1;
    position: fixed;

    background-color: #282828;
    color: white;
}
.play-bar-flex{
    display: flex;

    margin: 0 10px;
}
.play-bar-flex > *{
    height: 90px;

    display: flex;
}

/* parte sinistra */
.playbar-left{
    width: 30%;
    align-items: center;

    margin-right: 40px;
}
.playbar-left img{
    width: 42px;
}
.img-desc{
    padding-left: 10px;
    padding-right: 40px;
}
.name, .icons{
    opacity: 0.6;
}
.icons .fa-regular:first-of-type{
    padding-right: 10px;
}

/* parte centrale */
.playbar-center{
    width: 40%;

    justify-content: center;
    flex-direction: column;
}
.buttons{
    display: flex;
    justify-content: center;
    align-items: center;

    margin-bottom: 16px;
    gap: 20px;
}
.buttons .fa-circle-play{
    font-size: 30px;
}
.play{
    display: flex;
    justify-content: center;
    align-items: center;
}
/* stilizzazione playbar */
.volume{
    width: 100%;
    height: 4px;

    position: relative;

    background-color: #71767c;
}
.size{
    width: 100%;
    height: 4px;

    top: 0;
    left: 0;
    position: absolute;

    background-color: white;
}

.play .playtime{
    font-size: 10px;
    font-weight: bold;
}
.playbar-center .volume{
    max-width: 430px;
    margin: 0 20px;
}
.playbar-center .size{
    max-width: 84px;
}

/* parte destra */
.playbar-right{
    width: 30%;
    justify-content: flex-end;
    align-items: center;
    gap: 14px;

    margin-left: 20px;
}

.playbar-right .size{
    max-width: 24px;
}
.playbar-right .volume{
    max-width: 180px;
}


















/* MEDIA QUERY */
@media screen and (max-width: 1440px){
    .img-container{
        max-width: 180px;
        min-width: 0;
    }
}
@media screen and (max-width: 1024px){
    .navlinks{
        flex-wrap: wrap;
    }
    .navlinks a{
        margin-bottom: 32px;
    }
    .navbar{
        padding: 16px 40px 0px;
    }
    .playlist:last-of-type{
        margin-right: 0px;
    }
    .playlist{
        width: calc(100% / 4 - 40px / 3);
    }
    .container-playlist{
        flex-wrap: wrap;
    }

}
@media screen and (max-width: 768px){
    .playlist{
        width: calc(50% - 10px)
    }
    .img-container{
        max-width: 280px;
    } 
}
@media screen and (max-width: 576px) {
    .upgrade-bar{
        width: calc(100% - 50px);
    }
    .navbar{
        padding: 16px 10px 0px;
    }
    .side-bar{
        width: 50px;
        padding: 0;

        align-items: center;
    }
    .side-top{
        align-items: center;
    }
    .logo img.big{
        display: none;
    }
    .logo .small{
        display: inline-block;
    }
    .logo img.small{
        width: 30px;
        padding-top: 6px;
        padding-bottom: 16px;
    }
    .bottom-container{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .side-menu a,
    .side-playlist,
    .top-container ul,
    .bottom-container .install span,
    .bottom-container .profile-name{
        display: none;
    }
    .install{
        border: none;
        padding-right: 2px;
    }
    .navlinks{
        font-size: 0.7em;
    }
    .upgrade-btn a{
        font-size: 0.7em;
    }
}