/* reset */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: sans-serif;
}
#flex{
    display: flex;

    background-color: #151922;

}
.side-bar{
    width: 230px;
    height: calc(100vh - 90px);

    background-color: #000000;
}
.page{
    flex-grow: 1;
    
    width: calc(100% - 230px);
    height: calc(100vh - 90px);

    overflow-y: auto;
}


/* upgrade bar */
.upgrade-bar{
    width: calc(100% - 230px);
    height: 90px;

    position: fixed;

    background-color: rgba(0, 0, 0, 0.2);
}
.upgrade-btn{
    position: absolute;
    top: 32px;
    right: 20px;
}
.upgrade-btn a{
    padding: 14px 40px;
    text-decoration: none;

    color: white;
    border: 1px solid white;
    border-radius: 50px;
}







/* song container */
.song-container{
    height: 100%;
    width: 100%;
    /* test */
    padding: 90px 18px 0px;
}

/* links */
.navbar{
    padding: 16px 40px 32px;
}
.navlinks{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 16px;
}
.navlinks a {
    text-decoration: none;
    color: #7e8188;
}

/* categories */
.container-playlist{
    padding-bottom: 40px;

    display: flex;
    gap: 14px;
}
.categories-name{
    margin-bottom: 28px;

    color: #fbfdfd;
}
.categories-name .sub-name{
    padding-top: 12px;

    color: #797e84;
}

/* playlist */
.playlist{
    width: calc(100% / 6 - 70px / 6);

    display: flex;
    flex-direction: column;
    align-items: center;
}
.playlist:last-of-type{
    margin-right: 28px;
}
.img-container{
    min-width: 180px;
}
.img-container img{
    width: 100%;
    object-fit: cover;
}
.img-container img.artist{
    border-radius: 50%;
}
.playlist-name{
    margin: 20px 0 14px;

    font-weight: bold;
    text-align: center;
    color: white;
}
.playlist-subtitle{
    color: #71767c;
    text-align: center;
}













#play-bar{
    width: 100%;
    height: 90px;

    background-color: #282828;
}









/* MEDIA QUERY */
@media screen and (max-width: 1440px){
    .img-container{
        max-width: 180px;
        min-width: 0;
    }
}
@media screen and (max-width: 1024px){
    .navlinks{
        flex-wrap: wrap;
    }
    .navlinks a{
        margin-bottom: 32px;
    }
    .navbar{
        padding: 16px 40px 0px;
    }

    .playlist:last-of-type{
        margin-right: 0px;
    }
    .playlist{
        width: calc(100% / 4 - 40px / 3);
    }
    .container-playlist{
        flex-wrap: wrap;
    }

}
@media screen and (max-width: 768px){
    .upgrade-bar{
        width: calc(100% - 90px);
    }
    .side-bar{
        width: 90px;
    }
    .playlist{
        width: calc(50% - 10px)
    }
    .img-container{
        max-width: 280px;
    }
    
}
